{% if menu %}
<ul>
{% for item in menu %}
  {% if page.url == item.url %}
    <li class="active"><a href="{{ item.url }}" class="active">{{ item.title }}</a></li>
    {% if item.children %}
      {% assign menu = item.children %}
      {% include menu.html %}
    {% endif %}
  {% else %}
    <li><a href="{{ item.ur l}}">{{ item.title }}</a></li>
    {% if item.children %}
      {% assign menu = item.children %}
      {% include menu.html %}
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
{% endif %}
